html,
body {
  height: 100%;
  margin :0;
  padding: 0;
}


body button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #228B22;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align:center;
    justify-content:center;
    margin-top:300px;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center ;
   
} 

#splash-background {    
    background-image: url("./img/splashscreen_background.jpg");
    background: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
} 

.btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
 }

#game-splash-screen  .Peter {
    position: absolute;
    height:50%;
    left :35rem;
    margin-top: 6rem;
    z-index: 1;
    justify-content:left; 
}
 
#game-screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 40px;
}

 .btn-group {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
    margin: 10px;
    position: center top 20%;
    
}



